environment:
  matrix:
  - TARGET: x86_64-pc-windows-msvc
    BITS: 64
    OPENSSL_VERSION: 1_1_1i
    OPENSSL_DIR: C:\OpenSSL
    CHANNEL: stable
  - TARGET: i686-pc-windows-msvc
    BITS: 32
    OPENSSL_VERSION: 1_1_1k
    OPENSSL_DIR: C:\OpenSSL
    CHANNEL: stable 
  RUST_BACKTRACE: full
install:
  # install OpenSSL
  - mkdir C:\OpenSSL
  - ps: if (Test-Path env:OPENSSL_VERSION) { Start-FileDownload "http://slproweb.com/download/Win${env:BITS}OpenSSL-${env:OPENSSL_VERSION}.exe" }
  - if defined OPENSSL_VERSION Win%BITS%OpenSSL-%OPENSSL_VERSION%.exe /SILENT /VERYSILENT /SP- /DIR="C:\OpenSSL"
  # install Rust
  - curl -sSf -o rustup-init.exe https://win.rustup.rs/
  - rustup-init.exe -y --default-host %TARGET%
  - set PATH=%PATH%;C:\Users\appveyor\.cargo\bin
  - rustc -vV
  - cargo -vV
build: false
test_script: 
  - cargo build
  - cargo test